<a href="https://colab.research.google.com/github/HammadN98/Modulo3-Bootcamp/blob/main/Notebook/Projeto_modulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto do Modulo 3: Series Temporais

In [3]:
import pandas as pd

In [1]:
url = 'https://media.githubusercontent.com/media/HammadN98/Modulo3-Bootcamp/main/Dados/caso_full.csv'

In [4]:
# dados = pd.read_csv('/content/caso_full.csv')
dados = pd.read_csv(url)

In [5]:
dados.head()

         city  city_ibge_code        date  ...  state  new_confirmed  new_deaths
0  Rio Branco       1200401.0  2020-03-17  ...     AC              3           0
1         NaN            12.0  2020-03-17  ...     AC              3           0
2  Rio Branco       1200401.0  2020-03-18  ...     AC              0           0
3         NaN            12.0  2020-03-18  ...     AC              0           0
4  Rio Branco       1200401.0  2020-03-19  ...     AC              1           0

[5 rows x 18 columns]

In [6]:
dados.dtypes

city                                              object
city_ibge_code                                   float64
date                                              object
epidemiological_week                               int64
estimated_population                             float64
estimated_population_2019                        float64
is_last                                             bool
is_repeated                                         bool
last_available_confirmed                           int64
last_available_confirmed_per_100k_inhabitants    float64
last_available_date                               object
last_available_death_rate                        float64
last_available_deaths                              int64
order_for_place                                    int64
place_type                                        object
state                                             object
new_confirmed                                      int64
new_deaths                                         int64
dtype: object

In [7]:
dados.describe()

       city_ibge_code  epidemiological_week  ...  new_confirmed    new_deaths
count    3.302690e+06          3.314512e+06  ...   3.314512e+06  3.314512e+06
mean     3.226763e+06          2.020898e+05  ...   1.329060e+01  3.699839e-01
std      1.009738e+06          4.573061e+01  ...   2.229231e+02  6.658359e+00
min      1.100000e+01          2.020090e+05  ...  -5.942900e+04 -4.070000e+02
25%      2.508901e+06          2.020410e+05  ...   0.000000e+00  0.000000e+00
50%      3.144359e+06          2.021090e+05  ...   0.000000e+00  0.000000e+00
75%      4.117222e+06          2.021300e+05  ...   2.000000e+00  0.000000e+00
max      5.300108e+06          2.021510e+05  ...   1.052000e+05  1.389000e+03

[8 rows x 11 columns]

In [ ]:
dados.plot()